.lottery {
    margin: 1rem;
    border: 1px groove black;
    border-radius: 5px;
}

.enterLottery {
    margin: 1rem;
}

.finishLottery {
    margin: 1rem;
}

.storage {
    background-color: rgb(252, 204, 115);
}

.nostorage {
    background-color: rgb(85, 147, 240);
}

input + button {
    margin-left: 10px;
}

button + label {
    margin-left: 10px;
}
