main {
    margin-top: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
}

.depositblock {
    margin-top: 40px;
    width: 80%;
}

.actionblock {
    margin-top: 20px;
    width: 60%;
    margin-bottom: 10px;
}
