.totalwindow {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    height: 100%;
    justify-content: space-around;
}

.poolsize {
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.prize {
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.chances {
    display: flex;
    justify-content: space-between;
    width: 50%;
}
