.depositwindow {
    margin-top: 1%;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.2s ease-out;
}

.description {
    display: flex;
    justify-content: flex-start;
}

.amount {
    margin-left: 8%;
}

.warning {
    color: var(--warning-text);
}
